[data-lky-hook="header"] {
    height: $header-height;
    background-color: $color-background;
    color: $color-white;
    > * {
        font: inherit;
        color: inherit;
        background-color: transparent;
    }
    > button {
        border: 0;
        margin: 0;
        overflow: visible;
        cursor: pointer;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 1px;
        &:disabled {
            color: $color-washed;
        }
    }
    [data-lky-hook="header.hamburger"],
    [data-lky-hook="header.settings"] {
        border-right: 1px solid $color-washed;
        transition: background-color $speed;
    }
    [data-lky-hook="header.settings"],
    [data-lky-hook="header.publish"] {
        padding: 0px 30px;
    }
    [data-lky-hook="header.hamburger"],
    [data-lky-hook="header.settings"],
    [data-lky-hook="header.publish"] {
        float: left;
        height: $header-height;
    }
    [data-lky-hook="header.user"],
    [data-lky-hook="header.save"],
    [data-lky-hook="header.cancel"] {
        float: right;
        height: $header-height;
    }
    @import "./hamburger";
}
